#pageNav .navbar-brand, #pageNav .navbar-nav li.nav-item a.nav-link  {
  color: #fff;
  font-family: Helvetica, Arial;
  font-weight: 400;

}

#portfolio {
  padding-top: 70px;
}



.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}