#pageNav .navbar-brand, #pageNav .navbar-nav li.nav-item a.nav-link  {
  color: #fff;
  font-family: Helvetica, Arial;
  font-weight: 400;

}

#portfolio {
  padding-top: 70px;
}

.card-img-top {
  height: 30%;
  object-fit: cover;
}